footer {
  background-color:  #0f3057;
  height: 22rem;
}

.footer {
  &__container {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    span {
      color: $color-grey-dark-2;
      font-family: Montserrat, sans-serif;
      font-weight: 300;
      font-size: 1.35rem;
      position: relative;
      top: 3.5rem;
    }
  }

  &__top {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    background-color: $color-secondary-dark;
    padding: 0 .8rem;
    position: absolute;
    top: -15%;

    svg {
      fill: $color-white;
      width: 3rem;
      height: 4rem;

      &:nth-child(2) {
        margin-top: -3rem;
      }
    }
  }

  &__icon-container {
    border-radius: 2px;
    background-color: #14274e;
    cursor: pointer;
    padding: 1.5rem;
    transition: all .5s ease;
    position: relative;
    overflow: hidden;

    & .visible {
      position: relative;
      transition: all .2s ease-in-out;
      bottom: 0;
    }

    &:hover .visible {
      opacity: 0;
      bottom: 3.9rem;
    }

    &:hover .hidden {
      opacity: 1;
      top: 50%;
    }

    & .hidden {
      opacity: 0;
      position: absolute;
      top: 120%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: all .2s ease-in-out;

    }

    &:hover {
      background-color: #0278ae;
    }

    &:hover > * {
      fill: $color-secondary-dark;
    }
  }

  &__icons {
    display: flex;
    gap: 2rem;
    & svg {
      fill: $color-secondary;
      width: 2.5rem;
      height: 2.5rem;
    }
  }
}
